body {
	padding-inline: 2vh;
	background-color: whitesmoke !important;
	color: darkslategrey !important;
}
.navbar {
	width: 100%;
	text-align: center;
}
.navbar button {
	margin-inline: 1vh;
}
h1 {
	width: 100%;
	text-align: center;
}

tr,
th {
	border: 2px solid rgba(0, 0, 0, 0.356);
	padding: 5px;
	max-width: 25vh;
}
.blue {
	color: blue;
}

.hidden {
	visibility: hidden;
}

.visibile {
	visibility: visible;
}

#list div {
	border: 1px solid #3b3b3b;
	border-radius: 15px;
	margin: 5vh;
	padding: 1vh 2vh;
	width: 50vh;
	height: 35vh;
	overflow-y: scroll;
	display: inline-block;
}

.z-20 {
	z-index: 20px;
}
table img {
	width: 50%;
}

.horizontalDiv {
	height: fit-content;
	width: 100%;
	display: block;
	padding: 2vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	border-radius: 15px;
	border: 2px #3b3b3b solid;
	overflow: hidden;
	transition: ease-in-out 0.15s;
}
.horizontalDiv:hover {
	background: #d4d4d4;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
.horizontalDiv img {
	padding: 1vh;
	height: 35vh;
}

#list div:hover {
	background: #3b3b3b;
	color: white;
}

::-webkit-scrollbar {
	width: 5px;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

::-webkit-scrollbar-thumb {
	background: #858585;
	border-radius: 15px;
}
.floatLeft {
	float: left;
}
.maginInline5vh {
	margin-inline: 5vh;
}
.width100center {
	width: 100%;
	display: flex;
	justify-content: center;
}
.floatEnd {
	float: inline-end;
}
.w-10 {
	width: 10%;
}
